footer{
	margin-top: 80px;
}

.row {
	padding-right: 0 !important;
	padding-left: 0 !important;
}

/*centrer les en tête de table*/
.table th, .table td{
	text-align: center;
}

.panel .panel-header{
	text-align: center;
	padding: 10px;
}


/*panel success*/
.panel.panel-success{
	border: 1px solid #198754;
	-webkit-box-shadow:  0 1px 2px rgba(25, 135, 84,0.5);
	-moz-box-shadow:   0 1px 2px rgba(25, 135, 84,0.5);
	box-shadow:   0 1px 2px rgba(25, 135, 84,0.5);
}

.panel.panel-success .panel-header{
	background-color: #198754;
}

.panel.panel-success .panel-header h3{
	display: inline-block;
	color: white;
}

