.programme-container{
	margin-bottom: 20px;
}

.panel{
	margin-bottom: 60px;
}

.formation-info-banniere {
	padding-top: 0;
}

.description-container {
	margin-top: 30px;
}

aside {
	
	margin-top: 30px !important;
}